/* Menus Solicitados */
.tabla-menus-solicitados{
  background: linear-gradient(#ee771a, #ee771a, #f5cf6e);
}


.lista-menus{
  margin-left: 40px;
  color: #2a2730;
  font-size: 20px;

}

.lista-menus h4{
  text-align: center;
  color: #2a2730;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}


.menus-vista-usaurio{
  display: none;
}
