/* body{
	background-color: #2b2831;
	width: 1400px;
	margin-left: -40;
	margin-top: -40;
	margin-bottom: -50;
	height: 2400px;
}
.container{
	font-family: 'Roboto', sans-serif;
	width: 700px;
	margin-left: 80px;
	padding-top: 60px;
}
.titulo-pdf h2{
	color:#e88a10;
	font-size: 35px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}
.titulo-menu-pdf{
	color:#fff;
	font-size: 28px;
	text-align: left;
}
.titulo-desc{
	color: #e88a10;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.1;
	margin-top: -40;
}
.desc{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	margin-top: -20;
}
.precio{
	color:#e88a10;
	font-size: 23px;
	font-weight: normal;
	margin-top: -10px;
	float: left;
}
.imagen-precio{
	margin-top: -47;
	margin-left: 75;
}
.price{
	font-size: 30px;
	color:#fff;
	float: right;
	margin-top: -50;
}
.menu-estatus{
	color:#fff;
	font-size: 18px;
	float: none;
	margin-top: -40;
} */

/* PDF Menús Solicitados */
.vista-usuario{
	background-color: #2b2831;
	width: 1400px;
	margin-left: -40;
	margin-top: -40;
	margin-bottom: -50;
	height: 2400px;
}
.container{
	font-family: 'Roboto', sans-serif;
	width: 700px;
	margin-left: 80px;
	padding-top: 60px;
}
.titulo-menus-solicitados h2{
	color:#e88a10;
	font-size: 35px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}
table.datos-seleccion-usuarios {
  border: 2px solid #f08b2d;
  background-color: #f08b2d;
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
	margin-left: -20;
}
table.datos-seleccion-usuarios td, table.datos-seleccion-usuarios th {
  border: 1px solid #555555;
  padding: 5px 10px;
}
table.datos-seleccion-usuarios tbody td {
  color: #FFFFFF;
}
table.datos-seleccion-usuarios td:nth-child(even) {
  background: #2a2730;
}
table.datos-seleccion-usuarios thead {
  background: #2a2730;
  border-bottom: 2px solid #ee781b;
	text-transform: uppercase;
	font-size: 12px !important;
	font-weight: 600;
	text-align: center !important;
}
table.datos-seleccion-usuarios thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #ee781b;
}
table.datos-seleccion-usuarios thead th:first-child {
  border-left: none;
}

table.datos-seleccion-usuarios tfoot td {
  font-size: 13px;
}
table.datos-seleccion-usuarios tfoot .links {
  text-align: right;
}
table.datos-seleccion-usuarios tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #2a2730;
  padding: 2px 8px;
  border-radius: 5px;
}
