/* PDF Menús Solicitados - Pedidos HOY */
html{
	margin: 0;
}
body{
	background-color: #2b2831;
	width: 1400px;
	padding: 30 60 20 10;
	height: 2400px;
}
.container{
	font-family: 'Roboto', sans-serif;
	width: 700px;
	margin-left: 80px;
	padding-top: 60px;
}
.logo-pdf{
	margin-top: -30;
	width: 800px;
	height: 80px;
}

.logo-pdf img{
	width:130px;
	height:131px;
	float: left;
	margin-top: -30;
}

.pedidos-hoy{
	color:#e88a10;
	font-size: 35px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

table.datos-seleccion-usuarios {
  border: 2px solid #f08b2d;
  background-color: #ffffff;
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
	margin-left: -50;
	margin-bottom: 50px;
}
table.datos-seleccion-usuarios td, table.datos-seleccion-usuarios th {
  border: 1px solid #555555;
  padding: 5px 10px;
}
table.datos-seleccion-usuarios tbody td {
  color: #2a2730;
	font-size: 11px;
	font-weight: 600;
}
table.datos-seleccion-usuarios td:nth-child(even) {
  background: #ffffff;
}
table.datos-seleccion-usuarios thead {
  background: #2a2730;
  border-bottom: 2px solid #ee781b;
	text-transform: uppercase;
}
table.datos-seleccion-usuarios thead th {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #ee781b;
}
table.datos-seleccion-usuarios thead th:first-child {
  border-left: none;
}

table.datos-seleccion-usuarios tfoot td {
  font-size: 13px;
}
table.datos-seleccion-usuarios tfoot .links {
  text-align: right;
}
table.datos-seleccion-usuarios tfoot .links a{
  display: inline-block;
  background: #ffffff;
  color: #2a2730;
  padding: 2px 8px;
  border-radius: 5px;
}
